<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/groups"></ion-back-button>
    </ion-buttons>
    <ion-title>{{group?.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ranking">
      <ion-label>Home</ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tournament-results">
      <ion-label>Torneios</ion-label>
      <ion-icon name="trophy-outline"></ion-icon>  
    </ion-tab-button>
    <ion-tab-button tab="statistics">
      <ion-label>Estatísticas</ion-label>
      <ion-icon name="bar-chart-outline"></ion-icon> 
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>  

