ion-fab-button {
    --background: #b7f399;
    --background-activated: #87d361;
    --background-hover: #a3e681;
    --border-radius: 15px;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --color: black;
}

.success-img-grid {
    background-color: #98abe9;
    padding-top: 40px;
    padding-bottom: 40px;
}

.success-img-grid h3 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.success-message {
    color: antiquewhite;     
}

.padding-bottom {
    padding-bottom: 50px;
}